# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore IntelliJ files
.idea
/out/

# some of my config files
.settings
bin
.classpath
.project
.vscode/settings.json
.DS_Store
.DS_Store
src/.DS_Store
